.form_container {
    background-color: #aaa;

}

.title_tag_container {
    display: flex;
    background-color: red;
    gap: 1rem;
}

.tag_container {
    width: 300px;
}

.button_container {
    display: flex;
    gap: 1rem;
}

.form_button {
    all: unset;
    padding: 0.75rem 1rem;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

.save_button {
    background-color: purple;
}

.cancel_button {
    background-color: #fff;
    border: 1px solid #eee;
    color: #333;
}